global:
  victoriaLogs:
    server:
      fullnameOverride: ${vm_logs_service_name}

server:
  persistentVolume:
  %{~ if create_pvcs ~}
    enabled: true
  %{~ else ~}
    enabled: false
  %{~ endif ~}
    size: ${resources.size}
  resources:
    limits:
      memory: "${resources.memory}"
    requests:
      cpu: "${resources.cpu}"
