replicaCount: 1
createCRD: true

operator:
  enable_converter_ownership: true
  disable_prometheus_converter: false

podDisruptionBudget:
  enabled: false

resources:
  limits:
    memory: ${resources.memory}
  requests:
    cpu: ${resources.cpu}
    memory: ${resources.memory}

admissionWebhooks:
  enabled: true
  certManager:
    enabled: true
  enabledCRDValidation:
    vmsingle: true
