#-------------------------------------------------------------------------------
#
#
#                          Terraform - example values
#
#
#-------------------------------------------------------------------------------

# region Cloud
#-------------------------------------------------------------------------------
#
#                                     Cloud
#
#-------------------------------------------------------------------------------

# IAM token used for communicating with Nebius services.
# Token is being passed via .envrc file.
# Uncomment to override.
# ---
# iam_token = "<YOUR-IAM-TOKEN>"

# ID of the IAM project.
# Project ID is being passed via .envrc file.
# Uncomment to override.
# ---
# iam_project_id = "project-<YOUR-PROJECT-ID>"

# ID of VPC subnet.
# ---
vpc_subnet_id  = "vpcsubnet-<YOUR-SUBNET-ID>"

# endregion Cloud

# region Common
#-------------------------------------------------------------------------------
#
#                                    Common
#
#-------------------------------------------------------------------------------

# Additional labels used for all created resources.
# ---
# extra_labels = {
#   "custom-label-key" = "custom-label-value"
# }

# endregion Common

# region Infrastructure
#-------------------------------------------------------------------------------
#
#                                Infrastructure
#
#-------------------------------------------------------------------------------

# region k8s
#-------------------------------------------------------------------------------
#                                      k8s
#-------------------------------------------------------------------------------

# Version of the k8s to be used.
# ---
# k8s_version = "1.30"

# Name of the k8s cluster.
# ---
# k8s_cluster_name = "slurm-k8s"

# CPU-only node group specification.
# Look at https://docs.nebius.ai/compute/virtual-machines/types/#cpu-configurations to choose the preset.
# ---
k8s_cluster_node_group_cpu = {
  size = 2
  resource = {
    platform = "cpu-e2"
    preset   = "16vcpu-64gb"
  }
  boot_disk = {
    type           = "NETWORK_SSD"
    size_gibibytes = 128
  }
}

# GPU node group specification.
# Look at https://docs.nebius.ai/compute/virtual-machines/types/#gpu-configurations to choose the preset.
# ---
k8s_cluster_node_group_gpu = {
  size = 2
  resource = {
    platform = "gpu-h100-sxm"
    preset   = "8gpu-160vcpu-1600gb"
  }
  boot_disk = {
    type           = "NETWORK_SSD"
    size_gibibytes = 1024
  }
  gpu_cluster = {
    infiniband_fabric = "fabric-2"
  }
}

# endregion k8s

# region Storage
#-------------------------------------------------------------------------------
#                                    Storage
#-------------------------------------------------------------------------------

# Shared filesystem to be used on controller, worker, and login nodes.
# ---
# filestore_jail = {
#   size_gibibytes       = 2048
#   block_size_kibibytes = 32
# }

# Shared filesystem to be used on controller nodes.
# ---
# filestore_controller_spool = {
#   size_gibibytes       = 128
#   block_size_kibibytes = 4
# }

# Shared filesystems to be mounted inside jail.
# ---
# filestore_jail_submounts = [{
#   name                 = "mlperf-sd"
#   size_gibibytes       = 2048
#   block_size_kibibytes = 32
#   mount_path           = "/mlperf-sd"
# }]

# endregion Storage

# endregion Infrastructure

# region Slurm
#-------------------------------------------------------------------------------
#
#                                     Slurm
#
#-------------------------------------------------------------------------------

# Name of the Slurm cluster in k8s cluster.
# ---
# slurm_cluster_name = "my-amazing-slurm"

# region Login
#-------------------------------------------------------------------------------
#                                     Login
#-------------------------------------------------------------------------------

# Type of the k8s service to connect to login nodes.
# Could be either "LoadBalancer" or "NodePort".
# By default, "LoadBalancer".
# ---
# slurm_login_service_type = "NodePort"

# Authorized keys accepted for connecting to Slurm login nodes via SSH as 'root' user.
# ---
slurm_login_ssh_root_public_keys = [
  "ENCRYPTION-METHOD HASH USER",
]

# endregion Login

# region Config
#-------------------------------------------------------------------------------
#                                    Config
#-------------------------------------------------------------------------------

# Shared memory size for Slurm controller and worker nodes in GiB.
# By default, 64.
# ---
# slurm_shared_memory_size_gibibytes = 64

# endregion Config

# endregion Slurm
