# region IAM token

NEBIUS_IAM_TOKEN=$(NEBIUS_IAM_TOKEN='' nebius iam get-access-token)
export NEBIUS_IAM_TOKEN
export TF_VAR_iam_token=${NEBIUS_IAM_TOKEN}

# endregion IAM token

# region VPC subnet

NEBIUS_VPC_SUBNET_ID=$(nebius vpc subnet list \
  --parent-id "${NEBIUS_PROJECT_ID}" \
  --format json \
  | jq -r '.items[0].metadata.id')
export TF_VAR_vpc_subnet_id=${NEBIUS_VPC_SUBNET_ID}

# endregion VPC subnet

# region Remote state

if [ -z "${NEBIUS_TENANT_ID}" ]; then
  echo 'NEBIUS_TENANT_ID env var is not set'
  exit 1
fi

if [ -z "${NEBIUS_PROJECT_ID}" ]; then
  echo 'NEBIUS_PROJECT_ID env var is not set'
  exit 1
fi

export TF_VAR_iam_tenant_id="${NEBIUS_TENANT_ID}"
export TF_VAR_iam_project_id="${NEBIUS_PROJECT_ID}"

NEBIUS_SA_ACCESS_KEY_ID=$(nebius iam access-key list \
  --parent-id "${NEBIUS_PROJECT_ID}" \
  --format json \
  | jq -r '.items[] | select (.metadata.name == "slurm-terraform-sa-access-key") | .metadata.id')

AWS_ACCESS_KEY_ID=$(nebius iam access-key get-by-id \
  --id "${NEBIUS_SA_ACCESS_KEY_ID}" \
  --format json | jq -r '.status.aws_access_key_id')
export AWS_ACCESS_KEY_ID

if [ -f '.aws_secret_access_key' ]; then
  AWS_SECRET_ACCESS_KEY=$(cat '.aws_secret_access_key')
else
  AWS_SECRET_ACCESS_KEY=$(nebius iam access-key get-secret-once \
    --id "${NEBIUS_SA_ACCESS_KEY_ID}" \
    --format json \
    | jq -r '.secret')
  echo "${AWS_SECRET_ACCESS_KEY}" > .aws_secret_access_key
fi
export AWS_SECRET_ACCESS_KEY

# region Backend

NEBIUS_BUCKET_NAME="tfstate-slurm-k8s-$(echo -n "${NEBIUS_TENANT_ID}-${NEBIUS_PROJECT_ID}" | md5sum | awk '$0=$1')"
cat > terraform_backend_override.tf << EOF
terraform {
  backend "s3" {
    bucket = "${NEBIUS_BUCKET_NAME}"
    key    = "slurm-k8s.tfstate"

    endpoints = {
      s3 = "https://storage.eu-north1.nebius.cloud:443"
    }
    region = "eu-north1"

    skip_region_validation      = true
    skip_credentials_validation = true
    skip_requesting_account_id  = true
    skip_s3_checksum            = true
  }
}
EOF

# endregion Backend

# endregion Remote state
